{% extends 'base.html' %}

{% block title %}Categories - Recipe Book{% endblock %}

{% block content %}
<center>
    <h1>~~~ RECIPE CATEGORIES ~~~</h1>
    <a href="{% url 'category_create' %}" class="btn" style="margin: 20px 0;">ADD NEW CATEGORY</a>
</center>

<hr>

{% if categories %}
<table width="100%" cellpadding="10" cellspacing="10">
    <tr>
        {% for category in categories %}
        {% if forloop.counter0|divisibleby:3 and forloop.counter0 > 0 %}
    </tr>
    <tr>
        {% endif %}
        <td width="33%" valign="top">
            <table width="100%" cellpadding="15" style="background: #E6E6FA; border: 5px ridge #9370DB;">
                <tr>
                    <td bgcolor="#9370DB" style="color: #FFF; font-weight: bold; text-align: center; font-size: 18px;">
                        {{ category.name|upper }}
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFF">
                        {% if category.description %}
                        <p>{{ category.description }}</p>
                        <hr style="border: 1px dashed #9370DB;">
                        {% endif %}
                        <p><b>Recipes:</b> {{ category.recipes.count }}</p>
                        <center>
                            <a href="{% url 'category_update' category.pk %}" class="btn btn-warning">EDIT</a>
                            <a href="{% url 'category_delete' category.pk %}" class="btn btn-danger">DELETE</a>
                            <br><br>
                            <a href="{% url 'home' %}?category={{ category.id }}" class="btn btn-info">VIEW RECIPES</a>
                        </center>
                    </td>
                </tr>
            </table>
        </td>
        {% endfor %}
    </tr>
</table>
{% else %}
<center>
    <table width="60%" cellpadding="20" style="background: #FFE4B5; border: 5px double #FF8C00; margin: 30px auto;">
        <tr>
            <td style="text-align: center;">
                <h2>NO CATEGORIES YET!</h2>
                <p style="font-size: 18px;">Start organizing your recipes!</p>
                <br>
                <a href="{% url 'category_create' %}" class="btn">CREATE FIRST CATEGORY!</a>
            </td>
        </tr>
    </table>
</center>
{% endif %}
{% endblock %}
